@import "tailwindcss";
@import "@fontsource/readex-pro";

@font-face {
    font-family: 'itcMachine';
    src: url('./fonts/ITC-Machine-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
        font-family: 'Readex Pro', sans-serif;
    }
}


.org-font {
    font-family: 'itcMachine', sans-serif;
}


html[dir="rtl"] {
    direction: rtl;
    text-align: end;
}

html[dir="ltr"] {
    direction: ltr;
    text-align: start;
}