@import "tailwindcss";
@import "@fontsource/readex-pro";

@font-face {
    font-family: 'itcMachine';
    src: url('./fonts/ITC-Machine-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
        font-family: 'Readex Pro', sans-serif;
    }
}

@theme {
    --color-primary: #c52c2b;
    --color-secondary: #8c2c31;
    --color-gold: #b99647;
}

.org-font {
    font-family: 'itcMachine', sans-serif;
}


body {
    --sb-track-color: #ffffff;
    --sb-thumb-gradient: linear-gradient(180deg, #172554, #1f2937);
    --sb-size: 8px;
}

body::-webkit-scrollbar {
    inline-size: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}
 
::selection{
    color: white;
    background-color: #8c2c31;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-gradient);
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-gradient) var(--sb-track-color);
    }
}
