@import "tailwindcss";
@import "@fontsource/readex-pro";

@font-face {
    font-family: 'itcMachine';
    src: url('./fonts/ITC-Machine-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
        font-family: 'Readex Pro', sans-serif;
    }
}

@theme {
    --color-primary: #c52c2b;
    --color-secondary: #8c2c31;
    --color-gold: #b99647;
}

.org-font {
    font-family: 'itcMachine', sans-serif;
}